<div class="row row-cols-1 mb-3">
    <div class="card mb-4 rounded-3">
    </div>
</div>

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col-lg-3 d-flex align-items-stretch">
        <div class="card mb-4 rounded-3 shadow-sm">
            <h4 class="card-header py-3">Add Transaction</h4>
            <div class="card-body">
                <p class="lead">Click here to add a transaction</p>
            </div>
            <div class="card-header">
                <a href="{%url 'new_transaction'%}" type="button" class="w-100 btn btn-lg btn-outline-primary">Make a new transaction</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 d-flex align-items-stretch">
        <div class="card mb-4 rounded-3 shadow-sm">
            <h4 class="card-header py-3">Records</h4>
            <div class="card-body">
                <p class="lead"> click here to view the past record of your transactions</p>
            </div>
            <div class="card-header">
                <a href="{%url 'records'%}" type="button" class="w-100 btn btn-lg btn-outline-primary">See Records</a>
            </div>
        </div>
    </div>
</div>