{% extends 'base_content.html' %}
{% block content %}
<div class="container">
    <div class="row" style="width:90%">
        <div class="col-sm-4 text-center my-3">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Balance Trends</h4>
                </div>
                <canvas id="chart_balance_graph" data-url="{% url 'chart_balance_graph' %}"></canvas>
                    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
                    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
                    <script>
                    $(function () {
                        var $chart_balance_graph = $("#chart_balance_graph");
                        $.ajax({
                            url: $chart_balance_graph.data("url"),
                            success: function (data) {
                                var ctx = $chart_balance_graph[0].getContext("2d");
                                new Chart(ctx, {
                                    type: 'bar',
                                    data: {
                                    labels: data.labels,
                                    datasets: [{
                                        label: 'Balance',
                                        backgroundColor: 'blue',
                                        data: data.data
                                    }]          
                                    },
                                    options: {
                                    responsive: true,
                                    legend: {
                                        position: 'top',
                                    },
                                    title: {
                                        display: true,
                                        text: 'Balance Trend Bar Chart'
                                    }
                                    }
                                });

                                }
                            });

                            });

                    </script>
            </div>
        </div>
    


     <div class="col-sm-4 text-center my-3">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Expense Trends</h4>
            </div>
            <canvas id="chart_expense_graph" data-url="{% url 'chart_expense_graph' %}"></canvas>
                <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
                <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
                <script>
                $(function () {
                    var $chart_expense_graph = $("#chart_expense_graph");
                    $.ajax({
                        url: $chart_expense_graph.data("url"),
                        success: function (data) {
                            var ctx = $chart_expense_graph[0].getContext("2d");
                            new Chart(ctx, {
                                type: 'bar',
                                data: {
                                labels: data.labels,
                                datasets: [{
                                    label: 'Expenses',
                                    backgroundColor: 'blue',
                                    data: data.data
                                }]          
                                },
                                options: {
                                responsive: true,
                                legend: {
                                    position: 'top',
                                },
                                title: {
                                    display: true,
                                    text: 'Expense Trend Bar Chart'
                                }
                                }
                            });

                            }
                        });

                        });

                </script>
        </div>
    

     <div class="col-sm-4 text-center my-3">
        <div class="card card-block" style="height : 300px">
            <div class="card-body d-flex">              
            <h5 class="card-title">Income Trend</h5>
            <a href="" class="stretched-link"></a> 
            </div>
        </div>
    

        <div class="col-sm-4 text-center my-3">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Expense Structure</h4>
                </div>
                <canvas id="expense_sturcture"></canvas>
                    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
                    <script>
                    var config = {
                        type: 'pie',
                        data: {
                            datasets: [{
                            data: {{ data|safe }},
                            backgroundColor: [
                                '#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'
                            ],
                            label: 'Category'
                            }],
                            labels: {{ labels|safe }}
                        },
                        options: {
                            responsive: true
                        }
                        };

                        window.onload = function() {
                        var ctx = document.getElementById('pie-chart').getContext('2d');
                        window.myPie = new Chart(ctx, config);
                        };
    
                    </script>
            </div>


    

     <div class="col-sm-4 text-center my-3">
        <div class="card card-block" style="height : 300px">
            <div class="card-body d-flex">              
            <h5 class="card-title">Expense Structure</h5>
            <a href="" class="stretched-link"></a> 
            </div>
        </div>
    </div>
        
</div>    

{% endblock %}