{% extends 'base_content.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'login_btn.css' %}">
<style type="text/css">
    iframe#_hjRemoteVarsFrame {display: none !important; width: 1px !important; height: 1px !important; opacity: 0 !important; pointer-events: none !important;}

</style>
<form action="{% url 'forgot_password' %}" method="post">
    {% csrf_token %}
    <div class="_33T1-ZBLz7FQrNT-ZCfKte">
        <div class="_1sxlTjCjFLM5k-nXvLkywP">

            <section class="_3P7ejYsij9dpnS4OZiCJVK">
                <div class="_2CKN4I1T1m1ACp1JPZ2CR9"  style="margin-top:0px;"><h1>Retrieve Password</h1>
                    <form class="ui error form">
                      <div class="field"><label>Email:</label><br><br>
                            <div class="ui input"><input name="email"
                                                         type="email"
                                                         value="" style="width:331px"></div>
                        </div>
                        <br>
                        <div class="field"><label>Pin:</label><br><br>
                            <div class="ui input"><input name="pin"
                                                         type="pin"
                                                         value="" style="width:331px"></div>
                        </div>
                        <br>
                        <div class="field"><label>New Password:</label><br><br>
                            <div class="ui input"><input name="password"
                                                         type="password"
                                                         value="" style="width:331px"></div>
                        </div>
                      <br>
                      <div class="field"><label>New Password confirmation:</label><br><br>
                            <div class="ui input"><input name="password_confirmation"
                                                         type="password"
                                                         value="" style="width:331px"></div>
                        </div>
                        <br>
                        <div class="ui hidden divider"></div>
                        <button type="submit" class="ui large circular fluid primary button">Submit</button>
                    </form>
                    <div>
                        <div class="_1TIOxpSJZ9E3EmrUCPh1rq">
                            <div class="_1shxn-I3ZrsxJkRub33ZoZ">
                                <div class="_34wD3pxeKAiDFX3oCDQ0V2">or continue with</div>
                            </div>
                            <div class="_32kDtyuRtVMAzp7wf6Xfyv"></div>
                        </div>
                    </div>
                    <div class="_2c-xSUqb6VJ6HJUQ_o-qV9">Already have account?&nbsp;<a
                            href="{% url 'log_in' %}">Login in</a></div>
                </div>
            </section>
        </div>
    </div>
</form>
{% endblock %}