{% extends 'base.html' %}
{% block body %}
{% load static %}

<div id="cover-image" style="background-image:url({% static 'bg.jpg' %});background-size:100% 100%;">
  <div class="container vh-100">
    <div class="row h-100">
      <div class="col-12 my-auto">
        <div class="card cover-card offset-sm-1 offset-md-3 offset-lg-6">
          <img src="{% static 'bg_1.png' %}" style="margin-top:30px">
          <p style="margin-top:30px">
            <a href='{% url 'sign_up' %}' class="btn btn-lg btn-secondary" style="background-color:#5cbc68;width:140px">
              Sign up
            </a>
            <a style="margin-left:90px;background-color:#5cbc68;width:140px" href='{% url 'log_in' %}'  class="btn btn-lg btn-secondary">
              Log in
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}