{% extends 'base_content.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'login_btn.css' %}">
<style type="text/css">
    iframe#_hjRemoteVarsFrame {display: none !important; width: 1px !important; height: 1px !important; opacity: 0 !important; pointer-events: none !important;}

</style>
<form action="{% url 'sign_up' %}" method="post">
    {% csrf_token %}
    <div class="_33T1-ZBLz7FQrNT-ZCfKte">
        <div class="_1sxlTjCjFLM5k-nXvLkywP">

            <section class="_3P7ejYsij9dpnS4OZiCJVK">
                <div class="_2CKN4I1T1m1ACp1JPZ2CR9"  style="margin-top:0px;"><h1>Create account</h1>
                    <form action="{% url 'sign_up' %}" method="post">
                        {% csrf_token %}
                        {% include 'partials/bootstrap_form.html' with form=form %}
                        <input type="submit" value="Sign up" class="btn btn-primary">
                      </form>
                    <div class="_2c-xSUqb6VJ6HJUQ_o-qV9">Already have account?&nbsp;<a
                            href="{% url 'log_in' %}">Log in</a></div>
                </div>
            </section>
        </div>
    </div>
</form>
{% endblock %}