{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'login_btn.css' %}">
<style type="text/css">
    iframe#_hjRemoteVarsFrame {display: none !important; width: 1px !important; height: 1px !important; opacity: 0 !important; pointer-events: none !important;}
._3lwupv7iDKB8zpkxAZA477>div{
    width: 30rem;
    text-align: center;
}
element.style{
    margin: 0px auto;
    width: 15rem;
    height: 15rem;
}
._29uR20eSxFwrEtw4KPAFeK._1yOWA9XnPBCu5uFXdEO1pF{
    background-image: url({% static 'bg_2.jpg' %});
    position: relative;
}
._29uR20eSxFwrEtw4KPAFeK{
    height: 10rem;
    width: 10rem;
    margin: 2rem auto;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}
._2SDKbblAjm0G1myctIiBfO{
    width: 5.9rem;
    height: 2.9rem;
    top: calc(50% - 3rem);
    left: calc(50% + .2rem);
    transform-origin: center center;
    transform: rotate(-45deg) translateX(-50%) translateY(-50%);
    position: absolute;
    background-repeat: no-repeat;
    background-image: linear-gradient(180deg,#fff 0,#fff 0),linear-gradient(90deg,#fff 0,#fff 0);
    background-size: 0 1rem,1rem 0;
    background-position: 0 0,0 100%;
    -webkit-animation: c8y0wZ5OYYTer5wd2PXGh .6s cubic-bezier(.34,.04,.86,.7) forwards;
    animation: c8y0wZ5OYYTer5wd2PXGh .6s cubic-bezier(.34,.04,.86,.7) forwards;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}
._3lwupv7iDKB8zpkxAZA477.visible.transition{
    width:300px;
}
._3lwupv7iDKB8zpkxAZA477>div{
    width: 30rem;
    text-align: center;
}
100%{
    background-size: 1rem 100%,100% 1rem;
}

</style>
<form action="{% url 'log_in' %}" method="post">
    {% csrf_token %}
    <div style="position:relative;">
        <div style="position: absolute;left:40%;margin-top:100px;">
        <div class="_29uR20eSxFwrEtw4KPAFeK _1yOWA9XnPBCu5uFXdEO1pF"
             style="margin: 0px auto; width: 15rem; height: 15rem;">
            <div class="_2SDKbblAjm0G1myctIiBfO"></div>
        </div>
        <h1 style="text-align:center;">Success!</h1>
        <p>Your very first account has been created. </p>
        <div class="ui hidden section divider"></div>
        <a href='{% url 'banner' %}'><button type="button" class="ui big circular fluid primary button">Continue to Home Page</button></a>
            </div>
        </div>
</form>
{% endblock %}