{% extends 'base_content.html' %}
{% block content %}
<div id="cover-image">
  <div class="container vh-100">
    <h1><center>{{ category.name}}</center>></h1>
    <hr/>
  <form method="POST">
    {% csrf_token %}
    From: <input type="date" name="start_date"/>
    To: <input type="date" name="end_date"/>
    <input type="submit" value="Search"/>
  </form>
          <table class="table table-hover text-nowrap">
            <thead>
                <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Time</th>
                <th>Amount</th>
                <th>Transaction Type</th>
                <th>Category</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                  {% if transaction.category_fk == category %}
                <tr>
                <td>{{ transaction.id }}</td> 
                <td>{{ transaction.date_paid}}</td>
                <td>{{ transaction.time_paid  }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.transaction_type }}</td>
                <td>{{ transaction.category }}</td>

                {% endif %}
                {% endfor %}
                
            </tbody>
            </table>
          <p>
            <h5 class="card-title"><b>Name:</b>{{ category.name}}</h5>
            <h5 class="card-title"><b>Budget:</b>{{ category.budget}}</h5>
            <h5 class="card-title"><b>Start Date:</b>{{ category.start_date}}</h5>
            <h5 class="card-title"><b>End Date:</b>{{ category.end_date}}</h5>
          </a>
          <a href="{%url 'edit_category_details' category.id %}" class="btn btn-success">Edit</a> 
          </p>
        
      
    
  </div>
</div>
{% endblock %}